.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build

mobile/src/main/res/values/com_crashlytics_export_strings.xml
mobile/src/main/assets/crashlytics-build.properties
mobile/src/main/assets/crashlytics-build.properties
mobile/src/main/assets/crashlytics-build.properties